.meme-gallery {
  display: grid;
  grid-template-columns: repeat(var(--cols, 6), minmax(0, 1fr));
  gap: 10px;
}

.meme-item {
  display: flex;
  flex-direction: column;
}

.meme-item img {
  width: 100% !important;
  max-width: none !important;
  max-height: none !important;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
  cursor: zoom-in;
  display: block;
}

.image-captions-caption {
  height: 2.4em; /* фиксированная высота */
  line-height: 1.2em; /* контролируем строки */
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box; /* опционально: clamp строк */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  flex: 0 0 auto; /* КЛЮЧЕВОЕ */
  align-content: center;
}
